

body {
    text-align: center;
    margin: 0;
    color: #40514e;
    font-family: "Merriweather", serif;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

h1 {
    display: block;
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container {
    margin: 100px 0px;
}

.mypic {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.intro {
    width: 30%;
    margin: auto;
}

p.intro {
    line-height: 2;
    font-size: 16px;
    color: #40514e;
    font-family:"Merriweather", serif;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.parent {
        display: grid;
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: repeat(1, 1fr);
            width: 50%;
            margin: 100px auto 0 auto;
            text-align: left;
            row-gap: 2rem;
}

h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

p {
    line-height: 2;
}

.chilli-img {
    width: 50%;
    margin-left: 30px;
    

}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}