* {
    background-color: black;
    font-family: Libre Baskerville", serif;
}

.container {
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    color: white;
    text-align: center;

}

img {
    width:100%;
    border: 5px solid white;
}

h1 {
   font-size: 3rem; 
}

